// _root {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
// }

.Header {
  display: flex;
  justify-content: space-evenly;
  background: rgb(247, 245, 245);
  position: relative;
  width: 100%;
  height: 147px;
  left: 0px;
  top: 0px;
  h2,
  .dropdown {
    align-self: center;
  }
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
